@font-face {
    font-family:'Open sans'; 
    src: url("/static/font/OpenSans-Regular.ttf");
}

.vbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.vmiddle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.lab-title {
    font: 22px Open Sans;
    /*Arial, sans-serif*/
    /*lucida console*/
    margin-bottom: 0px;
    margin-left: 15px;
}

.lab-nav-btn li {
    margin-top: 34px;
    margin-left: 5px;
    margin-right: 5px;

    font: 16px 'lucida console', Arial, sans-serif;
}
.navbar {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

h1 { font: normal 50px/35px Open Sans;  color:#ffffff; }
h2 { font: normal 30px/22px Open Sans;  color:#000000; }
h3 { font: normal 18px/18px Open Sans;  color:#000000; }
h4 { font: normal 14px/18px Open Sans;  color:#000000; }
h5 { font: normal 12px/18px Open Sans;  color:#000000; }
h6 { font: normal 12px/18px Open Sans;  color:#000000; }
body { font-weight: normal;}

/* carousel */
.carousel-inner {
    height: 320px;
}

.carousel-inner .item {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.carousel-inner .item img {
    width: 100%;
    min-height: 100%;
    max-height: none;
}

.navbar-static-top {
    margin-bottom: 0px;
}

.container-fluid {
    margin-bottom: 20px;
}

.footer {
    margin-top:40px;
    background-color: #e7e7e7;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-btn {
    margin: 20px;
    font-size: 16px;
}

.lab-footer-title {
    font: 18px Open Sans;
    margin-left: 15px;
}

.index-subtitle {
    font: normal 30px/22px Open Sans;
    color:#000000;
    margin-top:40px;
    margin-bottom:30px;
}

.name-box {
    text-align: center;
}



/* color palette */
.navbar {
    background-color: #FFF;
}

.lab-title {
    color: #777;
}

.borderless {
        border: none;
}

.footer {
    background-color: #C0C0C1;
    color: #0a2b07;
}
.content>p {
    color: #5e5e5e;
}



/* components */
.component-title-box {
    background-color: #F0F0F0;
    margin-bottom: 50px;
}
.component-title-text {
    font: normal 40px/28px 'Open Sans';
    color:#000000;
    margin: 30px;
    margin-left: 100px;
}
