{% extends "base.html" %}
{% import "components.html" as components %}

{% block title %}SYSU Lab of Intelligence Science and System - Contact{% endblock %}

{% block content %}
{{ components.make_title('Contact') }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for i in range(3) %}
            <div>
                <p>Contact Way</p>
                <img alt="Pic None" height="200px"/>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
