{% extends "base.html" %}
{% import "components.html" as components %}


{% block content %}

{{ components.make_title('Faculty') }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3 person-box">
                <a
                href="http://sist.sysu.edu.cn/main/default/teainfo.aspx?id=45&amp;no=1&amp;pId=10"  target="_blank"
                >
                    <img   class="person-img"  src="/static/pic/faculty/laijianhuang.jpg" />
                    <p class="person-name"> Jian-Huang Lai </p>
                    <p class="academic-title">Professor</p>
                </a>

            </div>


            <div class="col-md-3 person-box">
                <a
                href="http://sist.sysu.edu.cn/~zhwshi/"  target="_blank"
                >
                    <img   class="person-img"  src="/static/pic/faculty/jason.jpg" />
                    <p class="person-name"> Wei-Shi (Jason) Zheng </p>
                    <p class="academic-title">Associate Professor</p>

                </a>

            </div>


            <div class="col-md-3 person-box">
                <a
                href="http://web.siat.ac.cn/~xiaohua/"  target="_blank"
                >
                    <img   class="person-img"  src="/static/pic/faculty/xiexiaohua.jpg" />
                    <p class="person-name"> Xiao-Hua Xie </p>
                    <p class="academic-title">Research Professor</p>
                </a>

            </div>
        </div>
    </div>
</div>




{% endblock %}
