{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
         <div id="carousel-example-generic" align="center" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="/static/pic/1.jpg" width="100%">
                  <div class="carousel-caption">
                      <p>
                          <!-- First Slide -->
                      </p>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/pic/2.jpg" >
                  <div class="carousel-caption">
                      <p>
                          <!-- Second Slide -->
                      </p>
                  </div>
                </div>
                <div class="item">
                  <img src="/static/pic/3.jpg" >
                  <div class="carousel-caption">
                          <!-- Second Slide -->
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron content">
                <h2>Intelligence Science and System Lab</h2>
                <hr/>
                <p>Sun Yat-sen University, also known as Zhongshan University, is a public university in Guangdong, China. It was founded in 1924 by Sun Yat-sen, a revolutionary and the founding father of the Republic of China.

                The school's main campus, commonly referred to as the South Campus, is located in Haizhu District, Guangzhou, inheriting the campus of the former Lingnan University. Three of its four campuses are also located in Guangzhou, including the new East Campus in the Guangzhou Higher Education Mega Center, and the medically oriented North Campus.[3] The school also has a new campus in Zhuhai, which is the largest among the four campuses.

                Consistently ranked among the top 10 universities in China,[4][5] Sun Yat-sen University provides undergraduate and graduate instruction in the humanities, social sciences, natural sciences, technology, medical science, pharmacology and managerial science.

                The university's assets include the world's fastest supercomputer Tianhe-2, which is valued at 2.4 billion yuan (US$390 million).[6] The university also has the largest affiliated hospital system in China.[7] The university's Zhuhai Campus owns the largest teaching building in Asia measuring by acreage.[8]

                Two of the university's business education institutions, Sun Yat-sen Business School (SYSBS) and Lingnan (University) College are triple accredited by EQUIS, AACSB and AMBA. Only 3 business schools in mainland China hold this Triple accreditation.[9]</p>
                <p> from Wikipedia </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
