{% extends "base.html" %}
{% import "components.html" as components %}


{% block content %}
{{ components.make_title('Research Project') }}
<div class="container">

    <!--
    <p class="research-name"> Computer Vision </p>
    <div class="research-project">
        <p class="research-content">
        </p>
    </div>

    <p class="research-name"> Pattern Recognition </p>
    <div class="research-project">
        <p class="research-content">
        </p>
    </div>



    <p class="research-name"> Machine Learning </p>
    <div class="research-project">
        <p class="research-content">
        </p>
    </div>

-->



    <div class="news">
        <h2><span > Computer Vision </span></h2>
    </div>




    <div class="news">
        <h2><span > Pattern Recognition </span></h2>
    </div>




    <div class="news">
        <h2><span > Machine Learning </span></h2>
    </div>

</div>
{% endblock content%}


<!--
<h3>
研究成果：
</h3>
<div class="research-result">
<p> 论文1 </p>
<p> 论文2 </p>
<p> 专利1 </p>
<p> 专利2 </p>
</div>
-->
