{% extends "base.html" %}
{% import "components.html" as components %}





{% macro make_student(person)%}
{% set name = person[NAME_KEY] %}
{% set English_name = person[ENGLISH_NAME_KEY] %}
{% set image_path = person[IMAGE_PATH_KEY] %}
{% set email = person[EMAIL_KEY] %}
{% set url = person[URL_KEY] %}

<div class="col-md-3 person-box">
    <a
    {% if not url %}
    data-toggle="modal"
    data-target="#modal_{{name}}"
    {% else %}

    href="{{url}}"  target="_blank"

    {%endif%}
    >
        <img   class="person-img"  src="{{ url_for('static', filename = image_path) }}" />
        <p class="person-name"> {{English_name}} </p>
        <!-- <p class="person-direction"> {{research_direction}} </p> -->
    </a>
</div>
{# 每人一个简介 模态窗口 #}
<div class="modal fade" id="modal_{{name}}" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    {{English_name}}
                </h2>
            </div>
            <div class="modal-body">
                <img class="person-img"  src="{{ url_for('static', filename = image_path) }}" />
                <h3> Email:</h3>
                <p> {{email}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    OK
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

{% endmacro %}


{% macro make_student_list(student_list)%}
{% for person in student_list %}

{{make_student(person)}}

{% endfor %}
{%endmacro%}




{% block content %}

{{ components.make_title('Research Fellows') }}
<div class="container">
    <div class="row">
        <div class="col-md-12" >
            {{make_student_list(research_fellows_list)}}
        </div>
    </div>
</div>



{{ components.make_title('PHD') }}
<div class="container">
    <div class="row">
        <div class="col-md-12" >

            {{make_student_list(phd_list)}}
        </div>
    </div>
</div>

{{ components.make_title('MASTER') }}
<div class="container">
    <div class="row">
        <div class="col-md-12" >

            {{make_student_list(master_list)}}
        </div>
    </div>
</div>


{{ components.make_title('UNDERGRADUATE') }}
<div class="container">
    <div class="row">
        <div class="col-md-12" >

            {{make_student_list(undergraduate_list)}}
        </div>
    </div>
</div>

</div>


{% endblock content %}
